@media (max-width: 480px) {
    .about-grid {
        grid-template-columns: 100%;
    }
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.intro {
    text-align: center;
}

.about-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.i-am, .i-like {
    text-align: center;
    text-decoration: none;
}

.about-list {
    list-style: none;
    padding: 0;
}

.image-heading {
    text-align: center;
}

.image-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.image-taken {
    justify-self: center;
    padding: 4%;
}

